/* body */

.one{
    background-image: linear-gradient(to right , #cab6af , #e9e1da);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login{
    box-shadow: 3px 4px 4px rgba(54, 54, 54, 0.432);
    border-radius: 30px;
    height: 75vh;
    width: 75vw;
    background-color:white;
    position: relative;
} 

.bicycle{
    position: absolute;
    width: 45vw;
    top: 25%;
}

.left{
    position: absolute;
    left: 0;
    height: 75vh;
    width: 40vw;
    background-image: linear-gradient(to right , #cab6af , #e9e1da);
}

